<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>


<div style="text-align: center">
<%#= link_to image_tag("kitten.jpg", alt: "neko chan", width: "600px"),
                      "https://www.youtube.com/channel/UCD--io-_wVkB4oyMBssKz0Q"%>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"),
                      "https://rubyonrails.org/" %>